.search-input {
	width: 500px;
}
.body {
	    margin-top: 80px;
}
.nav-link {
	    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}
.wish-count {
	position: absolute;
    top: 5px;
    margin-left: 100px;
    width: 25px;
    height: 25px;
  border-radius: 50%;
  background: red;
  color: white;
  text-align: center;
}

.fa-times-circle {
	color: red;
	margin-right: 20px;
}
.fa-plus-circle {
    color: grey;
    margin-right: 20px;
}
.fa-trash-o {
	margin-left: 20px;
}

hr {
	margin-top: 2rem;
    margin-bottom: 2rem;
}
.py-5 {
	    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}